@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

a{
    text-decoration: none;
}

body{
    /* min-width: 1920px; */
    /* min-height: 3063px; */
    margin: auto 0;

    p{
        font-family: "Roboto";    
    }
}

header{
    display: grid;
    grid-template-rows: 337px 113px;
    gap: 0px;

    p{
        color: rgba(255, 255, 255, 1);
        text-align: center;

        margin: 0px;
    }

    .TopHeader{
        height: 337px;
        background-color: rgba(168, 119, 53, 1);
    
        display: grid;
        grid-template-columns: 289px auto 172px 172px ;
    
        p{
            font-size: 128px;
            align-self: center;
        }
    
        button{
            background-color: rgba(255, 255, 255, .0);
        
            width: 162px;
            height: 162px;
            align-self: center;
        
            padding: 0px;
            border: 0px;
        }

        .SiteLogo{
            width: 289px;
            height: 289px;
        
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 38px;
        }
        
        .SocialMedia{
            width: 160px;
            height: 160px;
            align-self: center;
        }
    }

    .Menu{
        background-color: rgba(212, 165, 93, 1);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 250px;
        align-items: center;
        padding-left: 83px;
        padding-right: 83px;
    
        p{
            font-size: 32px;
        }

        a{
            display: flex;
            justify-content: center;
        }

        button{
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
        }
    }
}

.BuyPoint{
    position: absolute;
    left: 0px;
    top: 0px;

    width: 0px;
    height: 0px; 

    background: rgba(136, 178, 195, 1);
    border-radius: 50%;
}

main{
    display: grid;
    grid-template-rows: 703px 851px 518px;
    grid-template-columns: auto 1415px auto;
    gap: 74px;

    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0px;
    align-items: center;
    align-content: center;

    .Basket{
        position: fixed;
        right: 38px;
        bottom: 38px;
        
        img{
            width: 120px;
            height: 120px;

            z-index: 1000;
        }

        button{
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
        }
    }

    img{
        height: 478px;
        width: 1406px;
    }

    .Banner{
        display: grid;
        grid-template-rows: 478px 167px;
        gap: 58px;

        .SliderContainer {
            position: relative;
            /* width: 600px; */
            /* height: 400px; */
            margin: 0 auto;
            overflow: hidden;
        }

        .Slider {
            display: flex;  
            transition: transform 0.5s ease-in-out;
        }

        .Slider img {
            height: 477px;
            width: 1406px;
        }
        button{
            padding: 0px;
        }

        .PrevButton, .NextButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            color: white;
        }

        .PrevButton:hover{
            background: linear-gradient(270deg, rgba(9,9,121,0) 50%, rgba(255,255,255,1) 97%);
        }

        .NextButton:hover{
            background: linear-gradient(90deg, rgba(9,9,121,0) 50%, rgba(255,255,255,1) 97%);
        }

        .PrevButton {
            left: 0px;
        }

        .NextButton {
            right: 0px;
        }
    }

    .Products{
        display: grid;
        grid-template-columns: 340px 340px 340px;
        gap: 134px;

        padding-left: 59px;
        padding-right: 59px;
        
        button{
            height: 167px;
            width: 340px;
            border: 0px;  
            background-color: rgba(0, 0, 0, 0);   
            
            p{
                text-align: right;
                text-align: end;
                margin: 0;
                margin-top: 109px;

                font-size: 48px;
                color: rgba(255, 255, 255, 1);
            }
        }

        
        a:nth-child(1){
            background-image: url(../images/pshenica-page.png);
            background-position:center;
            background-size: contain;

            p{
                color: rgba(0, 0, 0, 0);
            }
        }

        a:nth-child(2){
            background-image: url(../images/rozh-page.png);
            background-position:bottom;
            background-size: contain;

            p{
                color: rgba(0, 0, 0, 0);
            }
        }

        a:nth-child(3){
            background-image: url(../images/oves-page.png);
            background-position:center;
            background-size: contain;

            p{
                color: rgba(0, 0, 0, 0);
            }
        }

        a:nth-child(1):hover{
            background-image: url(../images/pshenica-page.png);
            background-position:center;
            background-size: contain;
            
            button{
                background-color: rgba(0, 0, 0, 0.5);
            }

            p{
                color: rgba(255, 255, 255, 1);
            }
        }

        a:nth-child(2):hover{
            background-image: url(../images/rozh-page.png);
            background-position:bottom;
            background-size: contain;

            button{
                background-color: rgba(0, 0, 0, 0.5);
            }


            p{
                color: rgba(255, 255, 255, 1);
            }
        }

        a:nth-child(3):hover{
            background-image: url(../images/oves-page.png);
            background-position:center;
            background-size: contain;

            button{
                background-color: rgba(0, 0, 0, 0.5);
            }


            p{
                color: rgba(255, 255, 255, 1);
            }
        }

    }

    .TopProducts{
        width: 1415px;
        height: 851px;
        background-color: rgba(243, 225, 161, 1);
        border-radius: 100px;

        h1{
            size: 48px;
            text-align: center;
            font-family: "Roboto";
        }
    }

    .ProductCard{
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0px;

        padding-left: 42px;

        img{
            height: 430px;
            width: 368px;
            /* padding-left: 23px; */
            padding-top: 23px;
            margin: 0px;
        }

        p{
            font-family: "Roboto";
            font-size: 32px;
            text-align: left;


            font-weight: bold;
            font-style: italic;
            
            width: 343px;
            height: 65px;
            margin: 0px;
            padding-left: 23px;
            padding-top: 23px;
        }

        div{
            width: 414px;
            /* height: 695px; */
            margin: 0px;
            display: grid;
            grid-template-rows: 430px 157px 64px;

            background-color: rgba(255, 255, 255, 1);
        }

        .Price{
            text-align: right;
        }

        a{
            padding-left: 21px;
            padding-bottom: 21px;
            margin: 0px;
            width: 372px;
            height: 64px;
            align-items: center;

            button{
                display: inline;
                justify-content: center;

                width: 372px;
                height: 64px;

                margin: 0px;
                padding: 0px;

                background-color: rgba(154, 201, 219, 1);
                
            }

            button:hover{
                background-color: rgba(136, 178, 195, 1);
            }

            p{
                text-align: center;

                margin: 0px;
                padding: 0 !important;
                
                width: auto !important;
                height: auto !important;
            }
        }
    }

    .About{
        width: 1415px;
        height: 523px;

        background-color: rgba(243, 225, 161, 1);
        border-radius: 100px;

        h1{
            font-family: "Roboto";
            text-align: center;
            font-size: 40px;
            margin: 0px;
            /* margin-top: 21px; */
        }

        div{
            display: grid;
            grid-template-columns: 873px 393px;
            gap: 80px;

            img{
                width: 393px;
                height: 393px;
                border-radius: 20px;
                /* margin-bottom: 43px; */
            }

            p{
                font-family: "Roboto";
                font-size: 32px;
                text-align: right;
                align-content: center;
                padding-left: 35px;
            }
        }

    }

    
}

footer{
    height: 349px;
    /* width: 1920px; */

    display: grid;
    grid-template-columns: auto 1415px auto;
    gap: 74px;

    padding-top: 50px;
    
    div{
        display: flex;

        p{
            float: left;
            
            font-family: "Roboto";
            font-size: 25px;
            text-align: left;
            align-content: top;
            padding-left: 35px;
            line-height: 32px;
            text-decoration: none;
        }
        
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        a:hover{
            text-decoration: none;
            color: black;
        }
    }

    background-color: rgba(168, 119, 53, 1);
}