@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

a{
    text-decoration: none;
}


body{
    /* min-width: 1920px; */
    /* min-height: 3063px; */
    margin: auto 0;

    p{
        font-family: "Roboto";    
    }
}

header{
    display: grid;
    grid-template-rows: 337px 113px;
    gap: 0px;

    p{
        color: rgba(255, 255, 255, 1);
        text-align: center;

        margin: 0px;
    }

    .TopHeader{
        height: 337px;
        background-color: rgba(168, 119, 53, 1);
    
        display: grid;
        grid-template-columns: 289px auto 172px 172px ;
    
        p{
            font-size: 128px;
            align-self: center;
        }
    
        button{
            background-color: rgba(255, 255, 255, .0);
        
            width: 162px;
            height: 162px;
            align-self: center;
        
            padding: 0px;
            border: 0px;
        }

        .SiteLogo{
            width: 289px;
            height: 289px;
        
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 38px;
        }
        
        .SocialMedia{
            width: 160px;
            height: 160px;
            align-self: center;
        }
    }

    .Menu{
        background-color: rgba(212, 165, 93, 1);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 250px;
        align-items: center;
        padding-left: 83px;
        padding-right: 83px;
    
        p{
            font-size: 32px;
        }

        a{
            display: flex;
            justify-content: center;
        }

        button{
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
        }
    }
}

.BuyPoint{
    position: absolute;
    left: 0px;
    top: 0px;

    width: 0px;
    height: 0px; 

    background: rgba(136, 178, 195, 1);
    border-radius: 50%;
}

main{
    display: grid;
    grid-template-rows: 920px 920px 920px;
    grid-template-columns: auto 1415px auto;
    row-gap: 90px;
    padding-top: 90px;
    padding-bottom: 90px;

    .Basket{
        position: fixed;
        right: 38px;
        bottom: 38px;
        
        img{
            width: 120px;
            height: 120px;

            z-index: 1000;
        }

        button{
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
        }
    }

    .Products{
        width: 1415px;
        background-color: rgba(243, 225, 161, 1);
        border-radius: 100px;
        
        .Price{
            padding-top: 0px !important;
            text-align: right !important;
            margin-top: 23px;
        }

        h1{
            size: 48px;
            padding-top: 36px;
            padding-bottom: 36px;
            text-align: center;
            font-family: "Roboto";

            margin: 0;
        }
        
        .ProductsLine{
            align-items: center;
            display: grid;
            grid-template-columns: auto auto auto;
            margin: 0px;

            padding-left: 42px;

            img{
                height: 430px;
                width: 368px;
                /* padding-left: 23px; */
                padding-top: 23px;
                margin: 0px;
            }

            p{
                font-family: "Roboto";
                font-size: 30px;
                font-weight: bold;
                text-align: left;
                font-style: italic;
                
                width: 343px;
                margin: 0px;
                margin-top: 16px;
                padding-left: 23px;
                padding-top: 23px;
            }

            div{
                width: 414px;
                /* height: 695px; */
                margin: 0px;
                display: grid;
                grid-template-rows: 430px 157px 64px;

                background-color: rgba(255, 255, 255, 1);
            }

            a{
                padding-left: 21px;
                padding-bottom: 21px;
                margin: 0px;
                width: 372px;
                height: 64px;
                align-items: center;
    
                button{
                    display: inline;
                    justify-content: center;
    
                    width: 372px;
                    height: 64px;
    
                    margin: 0px;
                    padding: 0px;
    
                    background-color: rgba(154, 201, 219, 1);
                    
                }
    
                button:hover{
                    background-color: rgba(136, 178, 195, 1);
                }
    
                p{
                    text-align: center;
    
                    margin: 0px;
                    padding: 0 !important;
                    
                    width: auto !important;
                    height: auto !important;
                }
            }
    }
}
}

footer{
    height: 349px;
    /* width: 1920px; */

    display: grid;
    grid-template-columns: auto 1415px auto;
    gap: 74px;

    padding-top: 50px;
    
    div{
        display: flex;

        p{
            float: left;
            
            font-family: "Roboto";
            font-size: 25px;
            text-align: left;
            align-content: top;
            padding-left: 35px;
            line-height: 32px;
            text-decoration: none;
        }
        
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        a:hover{
            text-decoration: none;
            color: black;
        }
    }

    background-color: rgba(168, 119, 53, 1);
}