@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

a{
    text-decoration: none;
}

body{
    /* min-width: 1920px; */
    /* min-height: 3063px; */
    margin: auto 0;

    p{
        font-family: "Roboto";    
    }
}

header{
    display: grid;
    grid-template-rows: 337px 113px;
    gap: 0px;

    p{
        color: rgba(255, 255, 255, 1);
        text-align: center;

        margin: 0px;
    }

    .TopHeader{
        height: 337px;
        background-color: rgba(168, 119, 53, 1);
    
        display: grid;
        grid-template-columns: 289px auto 172px 172px ;
    
        p{
            font-size: 128px;
            align-self: center;
        }
    
        button{
            background-color: rgba(255, 255, 255, .0);
        
            width: 162px;
            height: 162px;
            align-self: center;
        
            padding: 0px;
            border: 0px;
        }

        .SiteLogo{
            width: 289px;
            height: 289px;
        
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 38px;
        }
        
        .SocialMedia{
            width: 160px;
            height: 160px;
            align-self: center;
        }
    }

    .Menu{
        background-color: rgba(212, 165, 93, 1);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 250px;
        align-items: center;
        padding-left: 83px;
        padding-right: 83px;
    
        p{
            font-size: 32px;
        }

        a{
            display: flex;
            justify-content: center;
        }

        button{
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
        }
    }
}

main{
    display: flex;
    justify-content: center;
    /* min-height: 400px; */

    .clearBasketButton {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px !important;
        cursor: pointer;
        margin-left: 10px; /* добавляем отступ */
        border-radius: 20px;
        margin-bottom: 30px;
    }
      
    .clearBasketButton:hover {
        background-color: #d32f2f;
    }

    .BasketListBody{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 90px;
        margin-bottom: 90px;

        min-height: 400px;
        width: 1405px;

        border-radius: 100px;
        background-color: rgba(243, 225, 161, 1);
        
        .Block{
            border-radius: 30px;
            margin-left: 67px;
            margin-right: 67px;
            margin-bottom: 40px;
            
            background-color: white;
            display: grid;
            grid-template-columns: auto 348px 310px 317px;
            gap: 0px;
            
            img{
                height: 155px;
                width: 250px;
                padding-top: 36px;
                padding-bottom: 36px;
                padding-left: 46px;
                
            }

            p{
                font-family: "Roboto";
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                align-self: center;
                font-style: italic;

                word-break: inherit;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .AmountOfProduct{
                display: flex;
                justify-content: center;
                align-self: center;
                margin: 0px;
                
                button{
                    width: 50px;
                    height: 50px;
                    font-size: 45px;

                    background-color: rgba(217, 217, 217, 1);
                    
                    margin-left: 15px;
                    margin-right: 15px;
                }

                button:hover{
                    background-color: rgb(196, 196, 196);
                }

                .Amount{
                    height: 40px;
                    min-width: 100px;

                    background-color: rgba(217, 217, 217, 1);

                    padding: 0px;
                    margin: 0px;
                    margin-left: 15px;
                    margin-right: 15px;
                    padding-left: 10px;
                    padding-right: 10px;

                    padding-top: 10px;
                }

                .TotalPrice{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 20px !important;
                        font-weight: normal !important;
                    }
                }
            }
        }

    }

    h1{
        font-family: "Roboto";
        text-align: center;
        font-size: 40px;
        margin: 0px;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Empty{
        font-family: "Roboto";
        text-align: center;
        font-style: italic;
        font-size: 30px;
        margin: 0px;

        padding-top: 7%;
    }

    .TotalSum {
        font-family: "Roboto";
        font-size: 30px;
        text-align: right; 

        margin-top: 0px;
        margin-right: 10px;
        padding: 20px 20px 20px 20px;

        background-color: white;
        border-radius: 20px;
    }
}

footer{
    height: 349px;
    /* width: 1920px; */

    display: grid;
    grid-template-columns: auto 1415px auto;
    gap: 74px;

    padding-top: 50px;
    
    div{
        display: flex;

        p{
            float: left;
            
            font-family: "Roboto";
            font-size: 25px;
            text-align: left;
            align-content: top;
            padding-left: 35px;
            line-height: 32px;
            text-decoration: none;
        }
        
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        a:hover{
            text-decoration: none;
            color: black;
        }
    }

    background-color: rgba(168, 119, 53, 1);
}